* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 15px;
  display: grid;
  grid-template-areas:
    'header header'
    'sidebar nav'
    'sidebar main'
    'footer footer';
  grid-template-columns: 1fr 3fr;
  grid-template-rows:
    15vh
    10vh
    65vh
    10vh;
  gap: 15px;
  text-align: center;
}

.header {
  grid-area: header;
  background-color: aquamarine;
}

.sidebar {
  grid-area: sidebar;
  background-color: red;
}

.nav {
  grid-area: nav;
  background-color: yellow;
}

.main {
  grid-area: main;
  background-color: greenyellow;
}

.footer {
  grid-area: footer;
  background-color: orange;
}
