.main {
    border: 5px;
    border-radius: 5px;
    border-color: black;
    border-style:double;
}

.first {
    background-color: rosybrown;
    width: 360px;
    height: 60px;
    margin-top: 32px;
    margin: 12px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.second {
    background-color: aquamarine;
    width: 400px;
    margin-bottom: 48px;
    margin: auto;
    display: flex;
    align-items: center;
}

.third {
    background-color: yellow;
    width: 150px;
    height: 60px;
    margin-top: 32px;
    margin-left: 1000px;
    margin-bottom: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}