* {
  background-color: black;
}

.container {
  display: flex;
  background-color: coral;
  border: 5px solid cornflowerblue;
  gap: 10px;
}

.container > .item {
  width: 100px;
  height: 100px;
  background-color: yellowgreen;
  color: cornflowerblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container > .item:nth-child(1) {
    order: 5;
}

.container > .item:nth-child(5) {
    order: 4;
}