h1 {
    background-color: aquamarine;
}

div {
    background-color: blue;
    background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
    position: static;
    background-size: 10% 10%;
}

body {
    background-image: url("https://www.transparenttextures.com/patterns/always-grey.png");
}