.container {
  display: grid;
  padding: 1rem;
  grid-gap: 1rem;
  grid-template-rows: repeat(2, 150px);
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  font-size: 5rem;
}

.container div {
  background-color: crimson;
  color: wheat;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 20px;
}
